@import "tailwindcss";

@theme inline {
  --color-primary-900: var(--primary-900);
  --color-primary-500: var(--primary-500);
  --color-primary-100: var(--primary-100);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-100: var(--secondary-100);
  --color-background-900: var(--background-900);
  --color-background-500: var(--background-500);
  --color-failure: var(--failure);
  --color-success: var(--success);
}

:root {
  --primary-900: #b20007;
  --primary-500: #ff7779;
  --primary-100: #eed4db;
  --secondary-900: #452424;
  --secondary-500: #8c6666;
  --secondary-100: #e5dcdc;
  --background-900: #f2f8ff;
  --background-500: #e2e6eb;
  --failure: #ff0000;
  --success: #3ec93e;
}

.Violet {
  --primary-900: #7f00b2;
  --primary-500: #dd77ff;
  --primary-100: #e7d4ee;
  --secondary-900: #452445;
  --secondary-500: #705270;
  --secondary-100: #e9e2e9;
}

.Bleu {
  --primary-900: #1e00b3;
  --primary-500: #8e78ff;
  --primary-100: #d7d3ed;
  --secondary-900: #292445;
  --secondary-500: #575270;
  --secondary-100: #e2e1e8;
}

.Vert {
  --primary-900: #00b30f;
  --primary-500: #78ff83;
  --primary-100: #d3edd5;
  --secondary-900: #244527;
  --secondary-500: #527054;
  --secondary-100: #e1e8e2;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--secondary-500);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-100);
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
